<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input type="text" formControlName="username" matInput placeholder="Pseudo">
    </mat-form-field>
    <mat-form-field>
        <input type="password" formControlName="password" matInput placeholder="Mot de passe">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">S'authentifier</button>
</form>