<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input type="text" formControlName="username" matInput placeholder="Pseudo">
        </mat-form-field>
        <mat-form-field>
            <input type="password" formControlName="password" matInput placeholder="Mot de passe">
        </mat-form-field>
        <mat-form-field>
            <input type="number" formControlName="height" matInput placeholder="Taille (cm)">
        </mat-form-field>
        <mat-form-field>
            <input type="number" formControlName="weight" matInput placeholder="Poids (kg)">
        </mat-form-field>
        <mat-form-field>
            <input type="number" formControlName="age" matInput placeholder="Age">
        </mat-form-field>
        <mat-form-field>
                <mat-label>Sexe</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value=true>M</mat-option>
                  <mat-option value=false>F</mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input type="number" formControlName="points" matInput placeholder="Points">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="!registrationForm.valid">S'enregistrer</button>
    </form>